/Res
/RFC
/Tests
/V2/.phpintel
/V2/Database RES
/V2/Material RES
/V2/Tests
V2/RFC Library/app/src/main/res/drawable-hdpi
V2/RFC Library/app/src/main/res/drawable-mdpi
V2/RFC Library/app/src/main/res/drawable-v24
V2/RFC Library/app/src/main/res/drawable-xhdpi
V2/RFC Library/app/src/main/res/drawable-xxhdpi
V2/RFC Library/app/src/main/res/mipmap-anydpi-
V2/RFC Library/app/src/main/res/mipmap-hdpi
V2/RFC Library/app/src/main/res/mipmap-mdpi
V2/RFC Library/app/src/main/res/mipmap-xhdpi
V2/RFC Library/app/src/main/res/mipmap-xxhdpi
V2/RFC Library/app/src/main/res/mipmap-xxxhdp